<div class="container"  >
    <form class="row g-3 needs-validation" style="margin-left: 25%;" novalidate>
      <h1>Login</h1>
      
      <div class="row">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail4">
        </div>
      </div>  
        <div class="row">
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword4">
          </div>
        </div>
        
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Login</button>
        </div>
      </form>
    
</div>
